/* Catering info section */
.info-img {
  display: none;
}

#catering-info {
  height: 50vh;
}
.info-content {
  height: 30vh;
  font-size: 15px;
}

.nav-container a:hover {
}
.info-container {
  grid-template-columns: 1fr;
  height: 100%;
}

.features-container {
  flex-direction: column;
}

/* Showcase Adjustments */
#showcase h2 {
  font-size: 3rem;
}
#showcase p {
  font-size: 1rem;
}
.nav-container h1 {
  font-size: 20px;
}
